<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">

    <test name="Regression Tests">

        <classes>
        <class name="tests.Register_User"/>
        <class name="tests.TestBrowser"/>
        <class name="tests.Test_Case2"/>
        <class name="tests.Test_case3"/>
        <class name="tests.Test_case4"/>
        <class name="tests.Test_case5"/>
        <class name="tests.Test_Case6"/>
        <class name="tests.Test_case7"/>
        <class name="tests.Test_case8"/>
        <class name="tests.Test_case9"/>
            
        </classes>

    </test>

</suite>